/* Style customizations */

.w3-theme {
  color: #ffffff !important;
  background-color: #2c5aa0 !important;
}

body {
}

#app-header {
  min-width: 320px;
  overflow: hidden;
}

#app-header .w3-bar-item {
  padding-left: 0;
}

#app-header .app-title {
  font-size: 32px;
  line-height: 48px;
}

#app-header .app-caption {
  padding-top: 32px;
}

#app-logo {
  height: 48px;
  width: 48px;
}

#app-main {
  padding-top: 82px;
  padding-bottom: 32px !important;
}

#app-footer {
  padding-bottom: 32px !important;
}
